  div {
      padding: 5px;
  }
  div img {
      width: 40px;
      height: 40px;
      border-radius: 20px;
  }
  div .username, div .close {
      display: inline-block;
      position: relative;
      bottom: 15px;
      left: 5px;
  }
  :host {
    width: 200px;
    background-color: lightblue;
    padding: 0px 2px;
    display: block;
    margin-bottom: 5px;
  }
