
<app-user-widget [user]="userStreams[0] | async"></app-user-widget>
<app-user-widget [user]="userStreams[1] | async"></app-user-widget>
<app-user-widget [user]="userStreams[2] | async"></app-user-widget>
<div class="anchor">
<a href="#" class="refresh">More...</a>
</div>

<style>
  body {
    font-family: sans-serif;
    padding: 10px;
  }
  .refresh {
      font-size: 80%;
      margin-left: 10px;
  }
  a {
    direction: rtl;
  }
  .anchor {
    display: block;
    width: 200px;
  }
</style>
